APP_NAME=ReplyCenter
APP_ENV=local
APP_KEY=
APP_DEBUG=true

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=reply_center
DB_USERNAME=app
DB_PASSWORD=secret

QUEUE_CONNECTION=sync
LOG_CHANNEL=stderr
