APP_NAME=ReplyCenter
APP_ENV=local
APP_KEY=
APP_DEBUG=true

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=reply_center
DB_USERNAME=app
DB_PASSWORD=secret

QUEUE_CONNECTION=sync
LOG_CHANNEL=stderr

APP_URL=http://localhost:8000
SESSION_DRIVER=file

OUTBOUND_MAIL_DRIVER=mailgun

NATS_HOST=nats
NATS_PORT=4222
NATS_USER=app
NATS_PASS=app
